
.custom-button:active,
.custom-button.clicked {
  /* Apply this style on click */
  transform: scale(0.99); /* Example: Scale down by 5% on click */
}
.custom-button:disabled {
  cursor: not-allowed;
}
.custom-button.disabled {
  background-color: #ddd; /* Adjust based on your design */
  color: #aaa; /* Adjust based on your design */
  border-color: #ddd; /* Adjust based on your design */
  cursor: not-allowed;
}

.custom-button.disabled:hover {
  background-color: #ddd; /* Ensure the background color doesn't change on hover */
  color: #aaa; /* Ensure the text color doesn't change on hover */
  border-color: #ddd; /* Ensure the border color doesn't change on hover */
}
/* Default Button Styles */
.custom-button.default {
  background-color: #007bff;
}

.custom-button.default:disabled {
  background-color: #6c757d;
}

/* Login Button Styles */
.custom-button.login {
  background-color: #2b6e5b;
  width: 150px; /* Adjust width */
  height: 50px; /* Adjust height */
}

.custom-button.login:disabled {
  background-color: #6c757d;
}

/* Logout Button Styles */
.custom-button.logout {
  background-color: red;
  width: 150px; /* Adjust width */
  height: 50px; /* Adjust height */
}

.custom-button.logout:disabled {
  background-color: #6c757d;
}

/* Primary Button Styles */
.custom-button.primary {
  background-color: #007bff;
}

.custom-button.primary:disabled {
  background-color: #6c757d;
}

/* Success Button Styles */
.custom-button.success {
  background-color: #28a745;
}

.custom-button.success:disabled {
  background-color: #6c757d;
}

/* Danger Button Styles */
.custom-button.danger {
  background-color: #dc3545;
}

.custom-button.danger:disabled {
  background-color: #6c757d;
}

/* Warning Button Styles */
.custom-button.warning {
  background-color: #ffc107;
  color: black;
}

.custom-button.warning:disabled {
  background-color: #6c757d;
}

/* Icon Styles */
.button-icon-left {
  margin-right: 8px;
}

.button-icon-right {
  margin-left: 8px;
}

.custom-button {
  font-size: 16px;
  
  border-radius: 4px;
  background-color: var(--bg-color, transparent);
  color: var(--text-color, #fff);
  border: 2px solid var(--border-color, #000);
  padding: var(--padding, 10px 20px);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button:hover {
  background-color: var(--hover-bg-color, #ccc);
  color: var(--hover-text-color, #000);
  border-color: var(--hover-border-color, #000);
}

@media (max-width: 575px) {
  /* Target devices smaller than 576px */
  .custom-button {
    margin: 10px; /* Adjust margin for small screens */
  }
}


/* button2 */
.Button2 {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);

  color: #fff; /* Text color */
  background: var(--bg-color-start);

  padding: 10px 10px; /* Adjust padding as needed */

  border: 2px solid var(--border-color); /* Add border color if provided */

  cursor: pointer;

  transition: background 150ms ease, color 150ms ease, border-color 150ms ease;

  border-radius: 5px;
}
.Button2 .button-text {
  height: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  font-size: 20px;
  white-space: nowrap; /* Prevent text wrapping */

  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.Button2:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.Button2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  background: var(--border-bottom-color);
  border-radius: 0 0 10px 10px;
  transition: height 150ms ease;
}
.Button2:hover {
  background: var(--hover-bg-color); /* Apply the hover background color */
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  border-color: var(--hover-border-color);
}

.button-icon-left {
  margin-right: 8px;
}

.button-icon-right {
  margin-left: 8px;
}
