.GECHlegend {
    background-color: #175086bd;
    border: 1px solid #e0e0e0;
    color: #fff;
    font-family: open sans, sans-serif;
    font-size: min(4vw, 12px);
    font-weight: 500;
    margin-bottom: 0;
    padding: 2px 10px;
    text-align: left;
    width: auto;
    float: none;
}

.GECHfieldset {
    border: 2px solid #e0e0e0;
    padding: 10px;
}

.GECHbtn {
    gap: 45px;
}

:root {
    --background-color: #46494c7d;
    --main-color: #4b6cb7;
    --text-color: #ffffff;
    --error-color: #f44336;
    --line-color: #7777777d;
    --border-color: #ddd;
    --shadow-color: gray;
    --font-family: "Poppins", sans-serif;
    --box-shadow: 2px 1px 19px 2px gray;
    --font-size-small: 11px;
    --font-size-medium: 12px;
    --font-size-large: 24px;
}

.goldeneyechangepass-container {
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://media.sketchfab.com/models/c86b16b141e54d2d844b740941bedb0c/thumbnails/2ac79fc42fc243e8818eb562c4ede8c9/d86dc8c70c804baf86ffdd637dc55cec.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 103px);
    overflow-y: auto;
}

.goldeneyechangepass-right-side {
    padding: 4rem 1rem;
    color: var(--text-color);
}

.goldeneyechangepass-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.geoldeneyerightsidemainboxchange {
    width: 100%;
    max-width: 30rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.goldeneyechangepass-header {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    background-color: #66a2dd;
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

.goldeneyechangepass-header img {
    margin-right: 5px;
}

.goldeneyechangepass-header h4 {
    margin: 0;
    margin-top: 2px;
    color: var(--text-color);
    text-shadow: 4px 3px 4px #000;
    font-size: 20px;
}

.goldeneyechangepass-form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 1rem 1rem;
    color: black;
}

.goldeneyechangepass-form label {
    font-size: 13px;
    font-weight: 400;
}

.goldeneyechangepass-form input {
    font-size: 12px;
}

.error-messagechgpass {
    color: var(--error-color);
    margin: 1px 3px;
    font-size: var(--font-size-small);
    font-style: italic;
}

.goldeneyechangepasslable .required-field {
    color: red;
}

.goldeneyechangepass-form-group {
    margin-bottom: 1rem;
    position: relative;
}

.goldeneyechangepass-form-group input {
    width: 100%;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}


.password-iconchangepass {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
}


.ColseBTNchangepass {
    background-color: var(--main-color);
    border: none;
    font-size: 1rem;
    padding: 0px 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ColseBTNchangepass:hover {
    background-color: red;
    color: var(--text-color);
}

.goldeneyechangepass-container p {
    margin-bottom: 0;
}

.goldeneyechangepass-form .input-group-text {
    padding: 0.475rem .75rem;
    border-radius: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .goldeneyechangepass-container {
        flex-direction: column;
        align-items: center;
    }

    .goldeneyechangepass-right-side {
        width: 100%;
        padding: 0.5rem;
        margin-right: 0;
        flex: none;
    }

    .goldeneyechangepass-right-side {
        flex-direction: initial;
        justify-content: initial;
    }

    .geoldeneyerightsidemainboxchange {
        max-width: 100%;
    }

    .goldeneyechangepass-header {
        font-size: 1.75rem;
    }

    .goldeneyechangepass-form-group input {
        font-size: 0.9rem;
    }

    .password-iconchangepass {
        right: 5px;
        width: 1.25rem;
        height: 1.25rem;
    }

    .goldeneyechangepass-header h4 {
        font-size: 15px;
        margin-top: 5px;
    }
}

@media (max-width: 480px) {
    .goldeneyechangepass-header {
        font-size: 1.5rem;
    }

    .goldeneyechangepass-form-group input {
        font-size: 0.8rem;
    }

    .password-iconchangepass {
        right: 5px;
        width: 1rem;
        height: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .goldeneyechangepass-right-side {
        width: 90%;
    }
}