.custom-select .ant-select-selector {
    background-color: #519ee7 !important;
    border: 0px !important;
    border-radius: 0px !important;
    outline: none;
    color: white;
    /* Apply background color */
}


.ant-picker.ant-picker-outlined.css-dev-only-do-not-override-vryruh.custom_select_date {
    background-color: #519ee7 !important;
    border: 0px !important;
    border-radius: 0px !important;
    outline: none;
    color: white;
}

:where(.css-dev-only-do-not-override-vryruh).ant-picker .ant-picker-suffix {
    color: white !important;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-picker-outlined {
    background-color: #519ee7 !important;
    border: 0px !important;
    border-radius: 0px !important;
    outline: none;
    color: white;
}

.ViewCardBody .ant-card-body {
    padding: 15px;
    max-height: 30rem;
    overflow-y: auto; 
    scrollbar-width: thin;
    scrollbar-color: #d1d1d1 transparent; 
}
