.GeCentralizedModal .modal-content {
    border-radius: 0;
}

.GeCentralizedModal .GeCentralizedModalHeader {
    padding: 0.5rem;
    border-radius: 0;
    background-color: #2a74a5;
}

.GeCentralizedModalHeader .GeTitle {
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 20px;
    padding-left: 5px;
    color: white;
}

.GeCentralizedModal .modal-header .btn-close {
    margin-right: 0;
    font-size: 11px;
}

.GeCentralizedModal .modal-dialog {
    max-width: 40%;
}